<a href="https://colab.research.google.com/github/Yoonjin-Lee/CNN_Conv2D/blob/main/CNN_conv2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import tensorflow as tf
import pandas as pd

In [6]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

In [7]:
X = tf.keras.layers.Input(shape = [28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size= 5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size= 5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(83, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [8]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 13s 3ms/step - loss: 2.6217 - accuracy: 0.8530
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0999 - accuracy: 0.9740
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0682 - accuracy: 0.9811
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0504 - accuracy: 0.9865
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0428 - accuracy: 0.9888
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0366 - accuracy: 0.9903
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0327 - accuracy: 0.9915
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0302 - accuracy: 0.9925
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0281 - accuracy: 0.9929
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0251 - accuracy: 0.9936

In [9]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [10]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [11]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 83)                199283
_________________________________________________________________
dense_1 (Dense)              (None, 10)                840
=================================================================
Total params: 200,657
Trainable params: 200,657
Non-trainable params: 0
_________________________________________________________________