<a href="https://colab.research.google.com/github/Yoonjin-Lee/CNN_/blob/main/MaxPool2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
# 데이터 받아오기
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)
독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)

(60000, 28, 28) (60000,)

In [5]:
#모델 만들기
X = tf.keras.layers.Input(shape= [28, 28, 1])

H = tf.keras.layers.Conv2D(3, padding= 'same', kernel_size= 5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [6]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 12s 3ms/step - loss: 2.1779 - accuracy: 0.7515
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.1455 - accuracy: 0.9562
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0957 - accuracy: 0.9708
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0794 - accuracy: 0.9761
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0722 - accuracy: 0.9783
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0639 - accuracy: 0.9803
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0597 - accuracy: 0.9817
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0557 - accuracy: 0.9823
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0578 - accuracy: 0.9825
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0525 - accuracy: 0.9846

In [7]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [8]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [9]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 28, 28, 3)         78
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 3)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 10, 10, 6)         456
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 5, 5, 6)           0
_________________________________________________________________
flatten_1 (Flatten)          (None, 150)               0
_________________________________________________________________
dense_2 (Dense)              (None, 84)                12684
_________________________________________________________________
dense_3 (Dense)              (None, 10)                850
=================================================================
Total params: 14,068
Trainable params: 14,068
Non-trainable params: 0
_________________________________________________________________